.bg-primary {
  background-color: #1B6B93; }

.bg-secondary {
  background-color: #F86F03; }

.bg-tersier {
  background-color: #9575DE; }

.bg-black {
  background-color: #171717; }

.bg-white {
  background-color: #FBFFDC; }

.c-white {
  color: #FBFFDC; }

.c-black {
  color: #171717; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.pt-0 {
  top: 0; }

.pb-0 {
  bottom: 0; }

.pl-0 {
  left: 0; }

.pr-0 {
  right: 0; }

.center-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.center-content-x {
  display: flex;
  justify-content: center; }

.center-content-y {
  display: flex;
  align-items: center; }

.circle-item {
  border-radius: 50%; }

.pict-profile {
  width: 84px;
  height: 84px;
  object-fit: cover; }

body {
  margin: 0; }
