/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Montserrat&display=swap');

body{
  margin: 0;
}

.shadow-none{
  box-shadow: none !important;
}

.font-primary{
  font-family: 'Cinzel', serif !important;
}

.font-secondary{
  font-family: 'Montserrat', sans-serif !important;
}

.font-bold{
  font-weight: bold !important;
}

/* ALIGN */
.align-center{
  align-items: center;
}

/* JUSTIFY */
.justify-spc-between{
  justify-content: space-between;
}

.justify-spc-around{
  justify-content: space-around;
}

/* BACKGROUND COLOR */
.bgc-primary{
  background-color: #573313 !important;
}

.bgc-black{
  background-color: #121212 !important;
}

.bgc-white{
  background-color: #F8F8F8;
}

/* BORDER */
.border-cream{
  border: 1px solid #FFB26E;
}

.border-green{
  border: 1px solid #013020;
}

/* COLOR */
.c-primary{
  color: #573313;
}

.c-tersier{
  color: #FFB26E !important;
}

.c-white{
  color: #F8F8F8 !important;
}

.c-green{
  color: #013020 !important;
}

.c-gray{
  color: #6C6C6C !important;
}

/* DISPLAY */
.d-flex{
  display: flex;
}

/* GAP */
.gap-14{
  gap: 14px
}

/* POSITION */
.pos-relative{
  position: relative;
}

.pos-absolute{
  position:absolute;
}

/* MARGIN*/
.my-8{
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx-4{
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.mt-8{
  margin-top: 8px !important;
}

.mt-24{
  margin-top: 24px;
}

.mt-36{
  margin-top: 36px;
}

/* PADDING */
.pd-24{
  padding: 24px;
}

.py-24{
  padding-top: 24px;
  padding-bottom: 24px;
}

.pd-4-12{
  padding: 4px 12px;
}

.pd-18-0{
  padding: 18px 0;
}

.pd-48-40{
  padding: 48px 40px;
}

/* BORDER */
.br-none{
  border-radius: 0 !important;
}

/* LINE */
.line{
  align-items: center;
  display: flex;
  height: 0;
  width: 24px;
}

/* FOOTER */
.main-footer{
  margin-top: 64px;
  width: 100%;
  border-top: 1px solid gray;
}