@media only screen and (max-width: 425px){
  .banner-wrapper{
    padding-bottom: 160px;
  }

  .banner-container{
    width: 100% !important;
  }

  .banner-title{
    font-size: 24px !important;
    height: 6em;
  }

  .banner-desc{
    font-size: 12px !important;
  }

  .banner-image{
    right: auto !important;
    bottom: -400px!important;
  }
}