@media only screen and (max-width: 425px){
  .d-flex-m-block{
    display: block !important;
  }
  /* BANNER */
  .banner-wrapper{
    padding-bottom: 160px;
  }

  .banner-container{
    width: 100% !important;
  }

  .banner-title{
    font-size: 24px !important;
    height: 6em;
  }

  .banner-desc{
    font-size: 12px !important;
  }

  .banner-image{
    right: auto !important;
    bottom: -400px!important;
  }

  /* ABOUT */
  .about-wrapper{
    margin-top: 240px;
    display: block !important;
    width: 100% !important;
  }

  .about-wrapper h5{
    font-size: 22px;
  }

  /* MENU */
  .img-wrapper{
    margin-top: 8px;
  }

  .menu-img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  /* FOOTER */
  .footer-main-img{
    height: 200px;
    object-fit: cover;
  }

  .main-footer{
    margin-top: 164px;
  }

  .address-footer{
    bottom: -100px;
    margin: auto;
    left: 24px;
  }

  .footer-main-text{
    position: static;
  }
}