/* BANNER */
.banner-wrapper{
  background-color: #121212;
  height: max-content;
}

.banner-container{
  width: 60%;
}

.banner-image{
  position: absolute;
  right: 36px;
  bottom: -150px;
  width: 400px;
  aspect-ratio: 1;
}

/* ABOUT */

.about-img{ 
  width: 160px;
  aspect-ratio: 1;
}

/* MENU */
.menu-img{
  width: 200px;
}

/* FOOTER */
.address-footer{
  position: absolute;
  right: 24px;
  bottom: -15px;
  background-color: #013020;
}

.main-footer{
  margin-top: 64px;
  width: 100%;
  border-top: 1px solid rgba(108, 108, 108, 0.20);
}
